# URL Backend chính (Quản lý Player, Tournament...)
VITE_API_BASE_URL=http://127.0.0.1:8000

# URL Backend Chat
VITE_API_CHAT_URL=http://127.0.0.1:8001

# URL WebSocket Chat
VITE_WS_CHAT_URL=ws://127.0.0.1:8001