# # --- DATABASE LOCALHOST---
# # POSTGRES_USER=admin
# # POSTGRES_PASSWORD=secret
# # POSTGRES_DB=saigon_tennis_db
# # POSTGRES_HOST=db
# # POSTGRES_PORT=5432
# # DATABASE_URL=postgresql://admin:secret@localhost:5432/saigon_tennis_db

# # --- DATABASE SERVER ---
# POSTGRES_USER=admin
# POSTGRES_PASSWORD=admin123
# POSTGRES_DB=DB_saigontenis
# POSTGRES_HOST=db
# POSTGRES_PORT=5432
# DATABASE_URL=postgresql://admin:admin%40123@125.234.102.243:5432/DB_saigontenis

# # --- AUTHENTICATION (Thay thế bằng 1 chuỗi dài ngẫu nhiên khác khi đưa lên mạng) ---
# SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
# ALGORITHM=HS256

# # --- CLOUDINARY ---
# CLOUDINARY_CLOUD_NAME=dfs9o3bny
# CLOUDINARY_API_KEY=513954498387371
# CLOUDINARY_API_SECRET=Brss7LepXirwlYHuPWMfnsLguko

# # --- MAIL ---
# MAIL_USERNAME=minhphu25102005@gmail.com
# MAIL_PASSWORD=gfnt djph anuf vdxi
# MAIL_FROM=minhphu25102005@gmail.com

