POSTGRES_USER=admin
POSTGRES_PASSWORD=secret
POSTGRES_DB=saigon_tennis_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# URL này dùng cho SQLAlchemy kết nối với DB
DATABASE_URL=postgresql://admin:secret@localhost:5432/saigon_tennis_db

# Mail Config
MAIL_USERNAME: str = "minhphu25102005@gmail.com"
MAIL_PASSWORD: str = "gfnt djph anuf vdxi"
MAIL_FROM: str = "your_email@gmail.com"
MAIL_PORT: int = 587
MAIL_SERVER: str = "smtp.gmail.com"
    
# Cloudinary
CLOUDINARY_CLOUD_NAME: str = "dfs9o3bny"
CLOUDINARY_API_KEY: str = "513954498387371"
CLOUDINARY_API_SECRET: str = "Brss7LepXirwlYHuPWMfnsLguko"